body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color : #666;
  margin-top:70px;
}

/*.nav-container {
  background-color : rgba(0, 0, 0, 0.2);
  padding:10px;
}*/
.cornered{
  border-radius: 5px;
}
/*.button {
  color: #e6e6e6;
  background: #666666;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: auto;
  text-align: center;
  /*display: block;*/
  /*padding: 7px 10px;*/
  /*margin: 5px;}*/

.dropshadow{
  -webkit-box-shadow: 0px 0px 2px 1px rgba(186,186,186,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(186,186,186,1);
box-shadow: 0px 0px 2px 1px rgba(186,186,186,1);
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    background: #ffffff;
    height: 2px;
    border-radius: 1px;
}
form.form.form-inline .form-group label{
  margin-right:5px;
}
.btn{
  margin: 5px;
}

/*.box {
  background-color : rgba(255, 255, 255, 0.8);
  padding:1px 20px 5px 20px;
  margin-top:10px;

}*/
.content{

}

ul {
  margin  : 0;
  padding : 0;
}

li {
  list-style-type : none;
}

/*.nav {
  display : flex;
}

.nav li {
  margin-right : 15px;
}
.nav a{
  color: rgba(255,255,255,0.6);
  font-weight: bold;
  text-decoration: none;
}
.nav a:hover{
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  text-decoration: none;
}
.nav a.active{
  color: rgba(0,0,0,0.9);
  font-weight: bold;
  text-decoration: none;
}*/
.crime-counts{



}
.crime-counts-item{


  color: #666666;
  padding: 10px;
}
.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4, .alert h1, .alert h2, .alert h3, .alert h4{
  margin-top:5px;
}
.navbar-nav a{
  color:rgba(255,255,255,0.7);
}
.navbar-nav a:hover, .navbar-nav a.active:hover{
  color:rgba(0,0,0,0.7);
}
.navbar-nav a.active{
color:rgba(0,0,0,0.9);
background-color: #eeeeee;
}
.navbar-brand, .navbar-brand:hover{
  color:white;
}

.btn-full-width{
  width:100%;
}
.crime-box{
  border:1px solid rgba(0,0,0,0.1);
  margin:5px;
}


.menu-item a{
  background-color: #3097D1;
  border:1px solid #3097D1;
  color:white;
  border-radius: 5px;
  margin:5px;
  display: block;
  text-align: center;
  transition: all 0.3s;
}
.menu-item a:hover{
  background-color: white;
  border:1px solid #3097D1;
  color:#3097D1;
  border-radius: 5px;
  margin:5px;
  display: block;
  text-align: center;
}
i.menu-icon{
  font-size:3em;
  display: block;
  margin:5px auto;
  padding: 10px;
}
a.menu-item-link{
  text-decoration: none;
}
a.menu-item-link:hover{
  text-decoration: none;
}
.menu-box{
  margin:0 auto;
}
